
  /* @font-face {
    font-family: 'Righteous';
    src: url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
    font-weight: bold; */
/* } */
    
  
  html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #312244;
    padding: 0.5rem  2.5rem;
    color: #00171f;

} 

#header {
    background: url(./Background-images/image-from-rawpixel-id-576121-jpeg.jpg) no-repeat center fixed;
    background-size: cover;
    position: relative;
    background-origin: content-box;

    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    flex-direction: column;
    box-sizing: border-box;
    /* border: 2px solid black; */
    border: 1px solid white;


    }

#header #logo {

    font-family: 'Righteous';
    font-weight: bolder;
    font-size: 2rem;
    text-align: left;
    padding-right: 17.5rem;
    padding-left: 1.5rem;
    color: #312244;
    letter-spacing: 2px;

    /* -webkit-text-stroke: 1px black; */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-style: italic;
}
#header span {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
    font-style: italic;
}
#header ul {
    margin: 10px 5px ;
    padding: 10px 5px;
}

#header li {

    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

    list-style: none;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    font-weight: bold;
    font-size: 1.3rem;
}
#header .nav_bar {
    text-align: right;
    padding: 15px 10px;
}
#header .nav_bar a {
    color: #312244;
    /* color: #8338ec; */

}

main {
    background: url(./Background-images/image-from-rawpixel-id-576121-jpeg.jpg) no-repeat center fixed;
    background-size: cover;
    position: relative;
    background-origin: content-box;

    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 3rem;
    margin: 2rem auto;
    border: 1px solid white;


}
main #intro {
    background: url(./Background-images/image-from-rawpixel-id-576121-jpeg.jpg) no-repeat center fixed;
    background-size: cover;
    position: relative;
    background-origin: content-box;
    background-repeat: no-repeat;

    flex-grow: 4;
    flex-shrink: 2;
    flex-basis: 2;
}
main #intro img {
    width: 190px;
    height: auto;
    float: left;
    margin-left: 4rem;
    /* padding-left: 4rem ; */
    /* padding-top: 1.8rem ; */
    border: 2px  solid #312244;

    border-radius: 50%;
}
main #hey{
    margin-top: 15rem;
    margin-bottom: 1.5rem;
    font-style: italic;

}
main #i{
    margin-bottom: 1.5rem;
    font-style: italic;

}
main #full{
    margin-bottom: 1.5rem;
    font-style: italic;

}

    main #about {
    font-style: italic;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: bold;   
    text-align: justify;
    text-align-last: center;
    margin: auto 7rem;
    /* word-spacing: normal; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }

main #social {
    font-style: italic;

    flex-grow: 4;
    flex-shrink: 2;
    flex-basis: 2;
    margin-bottom: 3rem;
}
main #social img {
    width: 30px;
    height: 30px;
    margin-bottom: 2.5rem;
}

main #social {
    margin-top: 5rem;
    background: url(./Background-images/image-from-rawpixel-id-576121-jpeg.jpg) no-repeat center fixed;
    background-size: cover;
    position: relative;
}

main #social #button{
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 10rem;
    padding: 12px;
    background-color:  #312244;
    color: wheat;



}
footer {
    background: url(./Background-images/image-from-rawpixel-id-576121-jpeg.jpg) no-repeat center fixed;
    background-size: cover;
    position: relative;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    border: 1px solid white;
    text-transform: uppercase;
    font-style: italic;


}
footer #content {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1.1rem;
    list-style: none;
}

